body{
    margin: 2rem;
    padding-left: 10rem;
}
img{
    align-items: center;
}
th{
    height:23px;
    background-color:  #509be2;
    font-weight: bold;
}
table,tr,td{
    height:23px;
    border: 1px solid #727171;
}
table,tr,td,th{
    height:23px;
    border: 1px solid #727171;
}
table{
    width: 60rem;
    height: 30rem;
    margin: 1px solid #727171;
    align-items: center;
}